<ul>
	<li>2017年11月29日上海青年艺术博览会版画系列《猫》-上海世贸商城</li>
	<li> 2017年11月11日——11月13日第七届上海城市艺术博览会版画系列《猫》-上海衡山路十二号豪华精选酒店 </li>
	<li>2017年2月23日——4月23日《云图》艺术国际“群”展作品《我和我爱的人》参展-北京市艺术国际美术馆 </li>
	<li>2015年10月30日——11月28日《弱水三千》油画《童年-蜥蜴》《叶尔羌小广场》参展-上海明园美术馆 </li>
	<li>2012年8月22日——9月3日 问城之物环保装置展-“兼容的盒子”上海市安顺路96弄26号 </li>
	<li>2012年6月16日油画四张 IAMWAI项目展览-上海市莫干山路50号0号楼2楼双城手工艺美术馆 </li>
	<li>2012年1月6日水印木版画《心在何处》系列参展《绽放》东华大学艺术硕士毕业展 -上海市延安西路1882号东华大学逸夫楼一楼展厅 </li>
	<li>2011年11月手绘作品《念故乡》系列三张参展《拼图》艺术展-上海山阴路132弄3号 香瓜侠公社 </li>
	<li>2011年5月手绘色粉笔作品《美丽的莎车》参展《逝·去》艺术展-上海威海路696号11号楼303室 上海艺术社团 </li>
	<li>2011年2月版画《饰》系列参展半岛档案联展-上海虹桥当代艺术馆 </li>
	<li>2010年11月影像作品《蜕》参展 THE URBANITY PROJECT开幕式-上海威海路696 </li>
	<li>2010年1月版画《蜕》系列参加《09`半岛版画档案》联展-上海莫干山路50号99创意中心 </li>
	<li>2009年版画《伤-1》入选2009上海市首届铜版画展-上海徐汇艺术馆 </li>
	<li>2009年版画《伤-4》入选2009上海市第九届版画展-上海明园艺术中心 </li>
	<li>2009年油画《梦》入选上海大学50周年校庆文献画册《岁月留痕》卷 </li>
	<li>2008年版画《伤》系列参加上海半岛美术馆《门》版画联展-上海半岛美术馆</li>
	<li>1997年中国画《花之容》获第二届洗笔泉中国书画精品稿约精品奖</li>
	<li> 1994年中国画《梦里花落知多少》获首届黄河杯中国书画大赛成人组铜奖</li>
</ul>