<ul>
	<li>29/11/2017 - Shanghai Young Art Fair 2017 - “Cats” woodprint series</li>
	<li>11/11/2017 - The 7th Citizen Art Shanghai 2017 - “Cats” woodprint series</li>
	<li>23/2/2017 - Cloud Chart International Artists Group Exhibition, Artintern Art Museum, Beijing - “Me and the ones I love” series</li>
	<li>30/10/2015 - Garden Art Gallery, Mingyuan Art Museum, Shanghai - “弱水三千” oil paintings “Lizard”, “Yarkand Square” from Childhood collection</li>
	<li>22/8/2012 - “Environmental protection in urbanity” art installation, Shanghai - “Universal box”</li>
	<li>16/6/2012 - IAMWAI exhibition, Twin Cities Handicraft Art Gallery, M50 Art District, Shanghai -  4x oil paintings</li>
	<li>6/1/2012 - Donghua University Postgraduate Graduation Art Exhibition - “Where Does The Heart Lie" woodblock print series</li>
	<li>11/2011 - …</li>
	<li>5/2011 - “Things That Disappear" art exhibition, Shanghai Art Commune - colour chalk work "Beautiful Yarkand”</li>
	<li>2/2011 - Peninsula Archives art exhibition, Hongqiao Museum of Contemporary Art - “Adorn” woodblock print series</li>
	<li>11/2010 - THE URBANITY PROJECT opening ceremony, Shanghai - "Exuviate" series</li>
	<li>1/2010 - Peninsula Archives art exhibition, M50 Art District, Shanghai - "Exuviate" series</li>
	<li>2009 - Inaugural Copperplate Print & Art Exhibition, Xuhui Art Museum, Shanghai - piece #1 of “Hurt” series</li>
	<li>2009 - 9th Printmakers Art Show, Mingyuan Art Museum, Shanghai - piece #4 of “Hurt” series</li>
	<li>2009 “Signs of Aging” commemorative set, 50th Anniversary Ceremony, Shanghai University - “Dream” selected as contributing piece</li>
	<li>2008 - “The Gate” Print Art Show, Shanghai Peninsula Art Museum - “Hurt” series</li>
	<li>1997 - “Expression of a Flower" oil painting - awarded Xi Bi Quan Chinese Painting & Calligraphy Fine Arts prize</li>
	<li>1994 - “The Flowers in My Dream" oil painting - awarded bronze prize in the Yellow River Chinese Painting & Calligraphy competition</li>
</ul>