---
layout: default
---

<div class="bio-page-wrapper">

	<!-- Row 1: Portrait + Intro -->
	<div>
		<img src="/assets/{{ page.portrait }}">
	</div>

	<div class="page-title">
      <h2>{{ site.title }}</h2>
      <p>{{ page.intro }}</p>		
	</div>

	<!-- Row 2: Mission -->
	<div>
		<p>{{ page.mission }}</p>
	</div>

	<div>
		<p>{{ page.mission-zh }}</p>
	</div>

	<!-- Row 3: Exhibitions -->
	<div class="home-title page-title">
		<h3>Exhibitions 參展</h3>
	</div>  

	<div>
		<p>{{ page.exhibitions }}</p>
	</div>

	<div>
		<p>{{ page.exhibitions-zh }}</p>
	</div>

	<!-- Row 4: Education -->
	<div class="home-title page-title">
		<h3>Education 教育</h3>
	</div> 

	<div>
		<p>{{ page.education }}</p>
	</div>

	<div>
		<p>{{ page.education-zh }}</p>
	</div>



</div>
