<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="body-container">

      <main class="page-wrapper" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}

    </div>

    {%- if page.layout == 'mycollection-index' -%}
      {%- include grid_loading_scripts.html -%}
    {%- endif -%}

  </body>
</html>
