---
layout: default
---

<div class="home">

  <div class="home-title">
    <h3 class="uppercase">Collections</h3>
  </div>

  <div class="home-collection-wrapper">
    <div class="home-collection-image">
      <a class="no-underline" href="#" >
        <img src="/assets/mycollections/my_nanjiang/17_印象中的阿勒屯鲁克.jpg" alt="#">
      </a>
    </div>        
    <div class="home-collection-title">
      <h3><a href="/my_nanjiang">My Nanjiang</a></h3>
      <p>Oil on canvas</p>
    </div>
  </div>

  {%- if site.projects.size > 0 -%}
      {%- for project in site.projects -%}
      <div class="home-collection-wrapper">
        <div class="home-collection-image">
  	      <a class="no-underline" href="{{ project.url | relative_url }}" >
  	        <img src="/assets/{{ project.cover_image }}" alt="{{ project.title }}">
  	      </a>
        </div>      	
        <div class="home-collection-title">
          <a href="{{ project.url | relative_url }}" >{{ project.title }}</a>
        </div>
      </div>
      {%- endfor -%}
  {%- endif -%}  

</div>
