---
layout: default
---

<div class="home">

  <div class="home-title page-title">
    <h3>Collections</h3>
  </div>

  <div class="home-collections-wrapper">
    <div class="home-collection">
      <div class="home-collection-image">
        <a href="/my_nanjiang" >
          <img src="/assets/mycollections/my_nanjiang/17_印象中的阿勒屯鲁克.jpg" alt="#">
        </a>
      </div>        
      <div class="home-collection-title">
        <h3><a href="/my_nanjiang">My Nanjiang</a></h3>
        <p>Oil on canvas</p>
      </div>
    </div>

    <div class="home-collection">
      <div class="home-collection-image">
        <a href="a_childhood" >
          <img src="/assets/mycollections/a_childhood/1_向日葵.jpg" alt="#">
        </a>
      </div>        
      <div class="home-collection-title">
        <h3><a href="/a_childhood">A Childhood</a></h3>
        <p>Oil on canvas</p>
      </div>
    </div>
  </div>

  <div class="home-title page-title">
    <h3>Other Work</h3>
  </div>  

  <div class="home-projects-wrapper">
  {%- if site.projects.size > 0 -%}
    {%- for project in site.projects -%}     
    <div class="home-project">   
      <div class="home-project-image">
	      <a href="{{ project.url | relative_url }}" >
	        <img src="/assets/{{ project.item[0] }}" alt="{{ project.title }}">
	      </a>
      </div>      	
      <div class="home-project-title">
        <h3><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h3>
        <p>{{ project.medium }}</p>
      </div>
    </div>
    {%- endfor -%}
  {%- endif -%}  
  </div>  

  {%- include bio_snippet.html -%}

</div>
