---
layout: default
---

<div class="collection-index">

  <h2>{{ page.title }}</h2>

  {{ content }}

  <div class="collection-index-gallery">

    {%- if site.mycollection_1.size > 0 -%}
        {%- for item in site.mycollection_1 -%}
        <div class="collection-index-image">
          <a class="no-underline" href="{{ item.url | relative_url }}">
            <img src="/assets/{{ item.image }}" alt="/assets/{{ item.title }}">
          </a>
          <!--
          <div class="home-project-title">
            <a href="{{ item.url | relative_url }}" >{{ item.title }}</a>
          </div>
          -->
        </div>
        {%- endfor -%}
    {%- endif -%}

  </div>

</div>
