---
layout: default
---

{%- assign collectionName = page.permalink -%}      

<div class="collection-index">

  <div class="home-title page-title">
    <h3>{{ page.title }}</h3>
  </div>    

  <div class="collection-index-copy">
    <div>
      {{ page.description-en }}
    </div>
    <div>
      {{ page.description-zh }}      
    </div>
  </div>

  <div class="collection-index-gallery">
    <ul class="cascade-grid effect-1" id="cascade-grid">

      {%- for item in site[collectionName] -%}
      <li>
        <a href="{{ item.url | relative_url }}">
          <img src="/assets/{{ item.image }}" alt="/assets/{{ item.title }}">
        </a>        
      </li>
      {%- endfor -%}
    </ul>  
  </div>

</div>

{%- include prevnext-mycollection.html -%}