---
layout: default
---

<div class="collection-index">

  <div class="home-title page-title">
    <h3>{{ page.title }}</h3>
  </div>    

  <div class="collection-index-copy">
    {{ content }}
  </div>

  <div class="collection-index-gallery">
    <ul class="cascade-grid effect-1" id="cascade-grid">
    {%- if site.mycollection_1.size > 0 -%}
        {%- for item in site.mycollection_1 -%}      
      <li>
        <a href="{{ item.url | relative_url }}">
          <img src="/assets/{{ item.image }}" alt="/assets/{{ item.title }}">
        </a>        
      </li>
        {%- endfor -%}
    {%- endif -%}      
    </ul>  
  </div>


</div>